/* .card-footer{
    background-color: #e1ad01;
} */

.card{
    background-color: #f2f2f2;
    /* background-color: rgb(0,0,0,0.7) */
}
.card-deck {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: .3rem;
}